
:root {
    --btn-primary-bg: #000;
    --btn-primary-color: #fff;
    --btn-primary-hover-bg: #FFF544;
    --btn-primary-hover-color: #000;
    --btn-secondary-bg: #FFF544;
    --btn-secondary-color: #000;
    --btn-secondary-hover-bg: #000;
    --btn-secondary-hover-color: #fff;
}

.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.custom-button--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
}

.custom-button--secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-color);
}

.custom-button--primary:hover {
    color: var(--btn-primary-hover-color);
}

.custom-button--secondary:hover {
    color: var(--btn-secondary-hover-color);
}

.custom-button {
    padding: 12px 40px;
    text-decoration: none;
    display: inline-block;
  
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
}

.custom-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: -1;
}

.custom-button--primary:hover::before {
    background-color: var(--btn-primary-hover-bg);
}

.custom-button--secondary:hover::before {
    background-color: var(--btn-secondary-hover-bg);
}

.custom-button:hover::before {
    left: 0;
}

